
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    line-height: 1.6;
}


header h1 {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    margin: 0;
    font-size: 32px;
    text-align: center; 
}


nav {
    margin: 20px 0;
    text-align: center;
}

nav button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 18px; 
    cursor: pointer;
}

nav button:hover {
    background-color: #0056b3;
}

.container {
    max-width: 850px; /* Maximale Breite, um es auf großen Bildschirmen lesbar zu machen */
    margin: 20px auto; /* Zentriert den Text horizontal */
    padding: 20px;
    text-align: left;
    /*background-color: #fff;*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); Schattierung für sauberes Design */
}